@font-face {
  font-family: "Norse-Bold";
  src: url(./Reference/Norse-Bold.otf);
}

/* Global Style */

body,
.header,
.title,
.form,
.form-intro,
.form-content,
.user-input,
.input-row,
li {
  display: flex;
}

body {
  justify-content: center;
  margin: 0px auto 0px;
  max-width: 950px;
}

li {
  list-style: none;
}

a {
  color: lightgray;
}

.font-italic {
  font-style: italic;
}

/* Header Style */
.header {
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.title {
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  background-color: black;
  opacity: 50%;
}

.title-logo {
  /* height: 80px; */
  width: 15%;
}

.title-words {
  font-family: "Norse-Bold", Courier, monospace;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.image-credit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: lightgray;
  padding-bottom: 15px;
}

/* Form Style */
.form,
.form-intro,
.form-content {
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  flex: 1;
}

.form-intro {
  padding: 100px 30px 30px;
  font-size: 25px;
  background-color: whitesmoke;
}

p {
  margin: 0px;
}

.form-content {
  padding: 10px 30px 10px;
}

.submit-and-login {
  padding: 30px 30px 100px;
  background-color: whitesmoke;
}

button {
  background-color: #596d48;
  border-radius: 6px;
  border: none;
  padding: 15px 60px 15px;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.form-header {
  font-size: 25px;
}

.user-input {
  flex-direction: column;
}

.input-row {
  padding: 0;
  justify-content: space-between;
}

.log-in-page {
  font-size: 18px;
}

li {
  font-size: 12px;
  flex-direction: column;
}

input {
  font-size: 18px;
  border-radius: 4px;
  border-color: #e5e7eb;
}

/* Form Validation Style */
input:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
  box-shadow: 5px 5px 5px #e5e7eb;
}
